.dashboard__content {
    &__form {
        width: 50%;
        margin: 4%;
        font-weight: 500;

        input,
        textarea {
            padding: 15px 20px;
            border: 1px solid $white;
        }

        &__row {
            @include flexbox(center, space-between);

            input {
                &:first-child {
                    margin-right: 0.75rem;
                }

                &:last-child {
                    margin-left: 0.75rem;
                }
            }

            &.payment {
                margin: 1.4rem 0;
            }

            &.submit {
                align-items: baseline;

                P {
                    span {
                        font-weight: 700;
                        margin-left: 4px;
                    }
                }

                input {
                    width: 72px;
                }
            }
        }

        &__group {
            label {

                @include flexbox(center, center);

                img {
                    width: 25px;
                    margin-top: -3px;
                    margin-right: 6px;
                }
            }
        }
    }
}