form {
    input,
    textarea {
        width: 100%;
        color: $black;
        outline: none;
        display: block;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        appearance: none;
        text-shadow: none;
        background: $white;
        padding: 15px 20px;
        margin-bottom: 20px;
        border-radius: 0.25rem;
        border: 1px solid $white;
        background-clip: padding-box;
        transition: all .15s ease-in-out;
        font-family: 'Quicksand', sans-serif;

        &:focus {
            border: 1px solid $shushi;
        }

        &[type="radio"] {
            display: none;
        }

        &[type="submit"] {
            width: auto;
            border: none;
            float: right;
        }
    }
}